@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/regular/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/bold/Robotobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/black/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
